module "{{ module_name }}_{{ submodule_name }}" {
  source  = "{{ namespace }}/{{ module_name }}/{{ provider }}//modules/{{ submodule_name }}"
  version = "{{ version_name }}"
  {%- for var in inputs %}
  {{ var.name }} = var.{{ var.name }}
  {%- endfor %}
}
